@charset "UTF-8";
*{
    text-align: center;
}

head{
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
}
header{
    background-color: #262626;
    color: aliceblue;
    font-family: Montserrat-VariableFont_wght;
    font-weight: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}
.h4{
    font-weight: 100;
}
img{
    border-radius: 15px;
    box-shadow: 2px 2px 3px #333;
    width: 10%;
}
body{
    background-color: #595959;
}
main{
    margin-top: 100px;
    padding: 100px;
    width: 800px;
    margin: auto;
}
@font-face {
    font-family: Montserrat-VariableFont_wght;
    src: url("Montserrat-VariableFont_wght.ttf");
}
p{
    font-family: Montserrat-VariableFont_wght;
    font-weight: 500;
}
div{
    background-color: white;
    border-radius: 25px;
    color: #262626;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}